:root {
    --dark-blue:rgba(0, 8, 78, 0.884)
}
*{
    box-sizing: border-box;
}
.flex{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.main{
    max-width: 80rem;
    margin: auto;
    padding: 0 30px;
}
.headline-text{
    font-size:60px;
    text-align: center;
    font-weight:600;
    text-wrap: wrap;margin: 10px 0;
}
.title-text{
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
    line-height:24px;
    text-align: center;
}
.title-text-black{
    font-size: 23px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.856);
    line-height:24px;
    text-align: center;
}
.body-text{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.body-text-light{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: #00000065;
    line-height: 25px;
}
.body-text-white{
    font-size: 15px;
    font-weight: 500;
    color:#f3f3f3;
    letter-spacing: 0.5px;
}
.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
    color:gold;
}


/* ************** navbar ******************* */
.nav-wrapper{
  width:100%;
  padding:10px 0;
  box-shadow:0 0.1px 16px 0 rgba(243, 243, 243, 0.185);
}
.inner-nav-wrapper{
  width:90%;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.logo-img{
  width:258px;
  height:50px;
}
.nav{
  display:flex;
  gap:2px;
  flex-wrap: wrap;
}
.nav-responsive{
  display:none
}
.nav-links{
  color:#000000ce;
  text-decoration:none;
  padding:10px 12px;
  font-size:14px;
  letter-spacing:0.2px;
}
.nav-links:hover{
  color:goldenrod;
}
.toggle-menu{
  display:none;
}

/* footer */
.footer{
  background-color: var(--dark-blue);
  width: 100%;
  padding:20px 30px;
  display:flex;
  flex-wrap:wrap;
  align-items: start;
  justify-content: space-between;
  gap:10px;
  margin-top:20px;
}
.footer-column{
  display: flex;
  flex-direction: column;
  gap:10px;
  text-align: left;
  float: left;
  align-items:start;
}
.footer-column .link{
  color:#f3f3f3;
  list-style-type:none;
  padding:6px 0;
  text-align: left;
  margin-left: -17px;
}
.footer-column .link:hover{
  color:goldenrod;
}
.input{
  padding: 7px;
  background: #f3f3f3;
  border-radius: 1px;
  width: 200px;
  outline: none;
  border:0.1px solid #ccc;
}
.nl-submit{
  padding: 6.5px;
  background-color: goldenrod;
  font-size: 16px;
  color:#f3f3f3;
  border: none;
  margin-left: -20px;
  cursor: pointer;
}


/* home */
.main .overlay{
  width: 100%;
  height:20vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  bottom:57px;
  right: 0;
  margin: auto;
  background-image: linear-gradient(to bottom, transparent 10%,rgba(255, 255, 255, 0.884) 90%);
  z-index: 99;
}
.main{
  height:fit-content;
  width: 100%;
}
.main h1{
  margin: 50px;
}
.short-courses{
  margin-top: 30px;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: center;
  align-items: center;
}
.short-courses .wrapper{
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  margin-block-start: 50px;
  margin-block-end: 50px;
  color:#ffffff;
}

.short-courses .wrapper .img{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 200px;
}
.short-courses .wrapper .text-wrapper{
  height:max-content;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  gap:10px;
  text-align: center;
  padding:20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


/* events */
.hero .events{
  height: max-content;
  margin-block-end: 200px;
  width: 100%;
  display: flex;
  flex-direction:column;
  gap: 20px;
  padding: 20px 70px;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.hero .events img{
  width: 100%;
  height:60vh;
  border-radius: 4px;
}
.hero .events .events-text{
  text-align:left;
  padding: 0;
}
.hero .events .events-text h1{
  text-align: left;padding: 1px;margin-left: -5px;margin-top: 10px;font-size: 30px;
}
.hero .events .events-text a {
  color:goldenrod;
}


/* teams */
.teams{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin:20px 30px;
  padding:20px;
  gap: 20px;
  margin-block-start: 30px;
}
.teams img{
  border-radius: 10%;
  width: 230px;
  height:210px;
  object-fit:cover
}
.teams h1{
  color:#000000d8;
  font-weight: 400;
  font-size: 20px;
  margin: 8px 0;
}
.teams p{
  margin: 2px 0;
}
.teams .member{
  display: flex;
  flex-direction: column;
  gap:2px;
  align-items: center;
}


/* events */
.events{
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
}
.past-events{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.past-events img{
    height: 350px;
    height: 350px;
    border-radius: 10px;
    cursor: pointer;
}

/* about */
.about{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* social */
.social .icons{
    width:40px;
    height:40px;
    padding:10px 10px;
}
.contact{
  width: 100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.contact .left{
  margin-top: 50px;
  text-align: left;
}
.contact .right{
  width:50%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.contact .right form{
  padding:10px;
  width:70%;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 #cccccc11;
}
.contact .right form .form-group{
  margin:20px 0;
}
.contact .right form .form-group textarea{
  margin: 5px 0;
  resize:none;
  padding:5px;
  width: 100%;
  border-radius:10px;
  border:0.1px solid #e7e7e7;
  color:#161616c9;
}
.contact .right form .form-group label{
  font-size:16px;
  color:#000000d3;
  letter-spacing: 0.1px;
  margin:25px 0;
}
.contact .right form .form-group input{
  margin: 5px 0;
  padding:10px;
  width: 100%;
  border-radius:8px;
  border:0.1px solid #e7e7e7;
  color:#161616c9;
}
.contact .left .icons img{
  width:40px;
  height:40px;
  padding:10px 10px;
}
.contact .right form button{
  padding:10px 20px;
  background-color: rgb(7, 5, 0);
  border: none;
  width:100%;
  border-radius: 5px;
  cursor:pointer;
}
@media (max-width:970px) {
  .contact{
      flex-direction: column;
  }
  .contact .right form{
      padding:2px;
  }
  .contact .right{
      width:100%
  }
}